<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <%= javascript_pack_tag 'custom_vue' %>
  </head>

  <body>

    <header>
    <nav>
      <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
      <% if user_signed_in? %> 
        <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
        <!-- *_path はUserモデルを作成したときに、
        deviseにより自動で作成されてますので、rake routesで確認できます -->
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'プロフィール変更', edit_user_registration_path, method: :get %> |
        <%= link_to "ログアウト", sign_out_path %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %> |
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "ゲストログイン", home_guest_sign_in_path, method: :post %>
        
      <% end %>
    </nav>
  </header>
    <%= yield %>
  
  <script>
    let app =  new Vue({
      el: "#app",
      data: {
        message: "Hello!!! Vue.js!!!"
      }
    })
  </script>
    
  </body>
</html>
